{{ define "main" }}

<section id="home">
    {{ $pages := where site.RegularPages "Type" "posts" }} {{ $paginator :=
    .Paginate $pages }} {{ range $index, $page := $paginator.Pages }}

    <div class="entry {{if eq $index 0}}first {{end}}">
        {{ partial "aside" . }}
        <h1 class="pico-color-slate-950">
            <a href="{{ $page.Permalink }}" title="{{ $page.Title }}"
                >{{ .Title }}</a
            >
            {{if .Params.external_link}}
            <span class="external_link">
                <a href="{{.Params.external_link}}">&#128279;</a>
            </span>
            {{end}}
        </h1>
        <section class="content">
            {{ partial "featured_image" .}} {{ .Content }}
        </section>
        <hr class="pico-color-slate-100" />
    </div>
    {{ end }}
</section>

<!-- {{ template "_internal/pagination.html" . }}  -->
{{ end }}
