<aside class="post-metadata">
        <a href="{{ .Permalink}}" class="pico-color-indigo-600">
            <time class="post-date" datetime="{{ .Date.Format "2006-01-02" | safeHTML }}">{{ .Date.Format "Jan 2, 2006" }}</time>
        </a>
        {{ if ne .Date .Lastmod }}
        <span>
            {{ T "modifiedOn" }} <time datetime="{{ .Lastmod.Format "2006-01-02" | safeHTML }}">{{ .Lastmod.Format "Jan 2, 2006" }}</time>
        </span>
        {{ end }} ·
        <span>{{ T "readingTime" .ReadingTime }}</span>
         ·
        {{ if .Params.tags }}
        <span>
            <em>
                {{ range $i, $t := .Params.tags }}
                {{ if $i }}· {{ end }}#{{$t}}
                {{ end }}
            </em>
        </span>
        {{ end }}
</aside>
