<!doctype html>

<html lang="{{ .Site.LanguageCode | default " en" }}">

<head>
  <title>{{ if and (not .IsHome) (.Title) }}{{ .Params.Title }} - {{ end }}{{ .Site.Title }}</title>
  {{ partial "meta" . }}
  {{ partialCached "header_includes" . -}}

  {{ if (templates.Exists "partials/header_supplement.html") }}
  {{ partial "header_supplement.html" . -}}
  {{ end }}
</head>

<body>
  <div class="container-fluid">
    <header>
      <div class="container-fluid">
        {{ partial "site_logo" . }}
        <h1>
          <a href="{{ relLangURL "" }}">{{ .Site.Title | markdownify }}</a>
        </h1>
        {{ with .Site.Params.tagline }}
        <p><em>{{ . | markdownify }}</em></p>
        {{ end }}
      </div>
    </header>
    <div class="container-fluid">
      {{ partial "nav" . }}
      <main>