{{ with .Site.Params.favicon}}
<link rel="shortcut icon" href="{{ . }}" />
{{ end }}

{{- if .Site.Params.mathjax }}
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
<script src="/js/mathjax-config.js" defer></script>
<script src="https://cdnjs.cloudflare.com/polyfill/v3/polyfill.min.js?features=es6"></script>
{{- end }}

{{- if .Site.Params.katex }}
<link rel="stylesheet" href="/css/katex.min.css">
<script defer src="/js/katex.min.js"></script>
<script defer src="/js/auto-render.min.js" onload="renderMathInElement(document.body);"></script>
{{- end }}

<link rel="stylesheet" href="{{ "css/normalize.min.css" | relURL }}" />
<link rel="stylesheet" href="{{ "css/pico.slate.min.css" | relURL }}" />
<link rel="stylesheet" href="{{ "css/pico.colors.min.css" | relURL }}" />
<link rel="stylesheet" type="text/css" href="{{ "css/styles.css" | relURL}}" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Ruda:wght@400..900&display=swap"
  rel="stylesheet">
{{- range .Site.Params.customCSS -}}
<link rel='stylesheet' href='{{ . | absURL }}'>
{{- end -}}
